* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */
:root {
  --main-color: #582900;
  --main-color-dark: #4f2601;
  --main-color-light: #783902;
  --secondary-color: #fd6c9e;
  --secondary-color-dark: #ff3e82;
  --tertiary-color: #77b5fe;
  --H1-title-Sizes: 37px;
  --H2-title-Sizes: 25px;
  --font-size: 18px;
}
.toUppercase {
  text-transform: uppercase;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(0, 0, 0); /* Light blue background */
  color: #6e6e6e;
  width: 100%;
}

/* HEADER */
#mainHeader {
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

/* MENU */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 33px;
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--secondary-color);
  border-bottom: 3px solid var(--tertiary-color);
} /*FIN MENU*/


/* SECTION INTRODUCTION */
#intro {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("ressources/images/bgi.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro h1 {
  font-size: 7.3rem;
  color: var(--main-color);
  margin: 33px auto;
  transition: ease-in-out 0.5s;
}
#intro h1:hover {
  text-shadow: 0 0 15px var(--secondary-color), 0 0 33px var(--secondary-color),
    0 0 53px var(--secondary-color), 0 0 133px var(--secondary-color),
    0 0 233px var(--secondary-color);
  color: var(--tertiary-color);
}



#centrerIntro {
  width: 73vw;
  margin: 0 auto;
}
p#MsgBienvenu {
  margin-top: 100px;
  font-size: 3rem;
}

#centrerIntro h2 {
  font-size: 2rem;
  color: var(--secondary-color);
  margin: 0 auto;
  margin-bottom: 20px;
  transition: ease-in-out 0.5s;
}

.description {
  width: auto;
  margin: 63px auto 0 auto;
  font-size: 2.3rem;
  color: rgb(0, 0, 0);
  text-align: justify;
}
/* FIN SECTION INTRODUCTION */


/* SECTION SERVICES */
#services {
  width: 100%;
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
}

#services article {
  margin-bottom: 10rem;
}
#services article header {
  margin-bottom: 5rem;
}
#services article header h1 {
  font-size: 5rem;
  margin-top: 33px;
}

/* Main content styles */

.mainServices > h2 {
  font-size: 2.9rem;
  margin-bottom: 10px;
}
.mainServices > h2 img {
  width: 55px;
  height: 55px;
  margin-right: 11px;
}

.ContainerServices {
  
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(633px, 1fr));
  gap: 20px;
}

/* -------------------------CARDS------------------------- */
.service {
  /* Add a box shadow to give it a card-like effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* Add some padding to make the content breathe */
  padding: 20px;

  /* Add a border to define the card boundaries */
  border: 1px solid #ddd;

  /* Center the card horizontally */
  margin: 20px auto;

  /* Add some radius to give it a smooth edge */
  border-radius: 13px 23px 13px 23px;

  /* Add a background color to give it a card-like appearance */
  background-color: #fff;
  padding: 20px;
  margin: 10px 66px;
  flex: 1 1 30%; /* Responsive service boxes */
}
.service:hover {
  border: 1px solid #ff80ab;
  box-shadow: 0 0 5px var(--tertiary-color), 0 0 23px var(--tertiary-color),
    0 0 43px var(--tertiary-color), 0 0 123px var(--tertiary-color),
    0 0 133px var(--secondary-color);
}

.service h2 {
  /* Make the heading stand out */
  font-weight: bolder;
  margin-top: 0;
}

.service small {
  /* Make the small text smaller and less prominent */
  font-size: 1.3rem;
  color: #666;
  border-bottom: 1px solid var(--tertiary-color);
}

.service p {
  /* Add some margin to separate the paragraph from the heading */
  margin-top: 10px;
  text-align: justify;
  line-height: 1.7;
  font-size: 33px;
}
/* FIN Card styles */

/* FIN SECTION SERVICES */


/* SECTION CONTACT */
#contact {
  background-color: var(--main-color-light);
  color: var(--tertiary-color);
  padding: 40px;
  border-radius: 8px;
  margin: 20px 0;
}

#contact h1 {
  font-size: var(--H1-title-Sizes);
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

#contact p {
  font-size: var(--font-size);
  margin-bottom: 30px;
}

.contact-form .form-label {
  font-size: var(--font-size);
  color: white;
}

.contact-form .form-control {
  border: 1px solid var(--main-color-dark);
  border-radius: 4px;
  padding: 10px;
  font-size: var(--font-size);
}

.contact-form .form-control:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 5px var(--secondary-color-dark);
}

.contact-form button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: var(--font-size);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--secondary-color-dark);
}



footer {
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 20px 0;
  font-size: var(--font-size);
}






/* -------------- Media Query for Mobile Devices ---------------- */
@media (max-width: 768px) {
  
  
  #centrerIntro h2 {
    font-size: 1.1rem;
    color: var(--secondary-color);
    margin: 0 auto;
    margin-bottom: 20px;
    transition: ease-in-out 0.7s;
  }

  .description {
    margin: 63px auto 63px auto;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
  }
}