/* GENERAL STYLES */
:root {
  --main-color: #582900;
  --main-color-dark: #4f2601;
  --main-color-light: #783902;
  --secondary-color: #fd6c9e;
  --secondary-color-dark: #ff3e82;
  --tertiary-color: #77b5fe;
  --H1-title-Sizes: 37px;
  --H2-title-Sizes: 25px;
  --font-size: 18px;
  --box-Shadow-simple: 0px 0px 7px rgba(0, 0, 0, 0.5);
  --box-Shadow-hover: 0px 13px 43px rgba(0, 0, 0, 0.5);
}
