/* GENERAL STYLES */
:root {
  --main-color: #582900;
  --main-color-dark: #4f2601;
  --main-color-light: #783902;
  --secondary-color: #fd6c9e;
  --secondary-color-dark: #ff3e82;
  --tertiary-color: #77b5fe;
  --H1-title-Sizes: 37px;
  --H2-title-Sizes: 25px;
  --font-size: 18px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(0, 0, 0); /* Light blue background */
  color: #ffffff;
  width: 100%;
}