/* Reset CSS pour une base cohérente */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body, h1, h2, p, ul, li {
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Police plus moderne */
}

/* Amélioration de la lisibilité globale */
body {
  line-height: 1.6; /* Espacement des lignes pour une meilleure lisibilité */
  color: #333; /* Couleur de texte plus douce */
  background-color: #f4f4f4; /* Fond plus clair pour réduire la fatigue oculaire */
  padding: 20px; /* Espacement autour du contenu */
}
/* GENERAL */
h1 {
   font-size: 3rem;
} h2 {
   font-size: 2em;
}

h1, h2 {
  color: #582900; /* Utilisation de la couleur principale pour les titres */
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: .75rem;
}

/* Améliorations Header */
header {
  background-color: #582900;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; /* Plus d'espace autour des éléments */
  box-shadow: #3e3e3e 0 5px 11px;
}

nav ul {
   list-style: none;
   display: flex;
}

nav ul li {
   margin-left: 20px;
   padding: 11px 7px;
   transition: background-color 0.3s ease;
} nav ul li:hover {
   background-color: #77B5FE;
   border-radius: 50px;
   color: #fff;
}


nav ul li a {
  text-decoration: none;
  font-size: 1.1rem; /* Taille légèrement augmentée pour une meilleure clicabilité */
  color: #FD6C9E;
  padding: 5px 10px; /* Espacement interne pour un meilleur aspect visuel */
}

/* Hover des liens plus distinct */
nav ul li:hover, nav ul li a:hover {
  background-color: #77B5FE;
  border-radius: 50px;
  color: #fff;
}


/* Logo */
.logo {
   width: 150px;
   height: auto;
   display: block;
   margin-right: auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
}
.logo:hover {
   opacity: 0.8;
   transform: scale(1.05);
   box-shadow: #FD6C9E 0px 3px 11px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem; /* Espacement entre les colonnes */
  padding: 1rem;
}

/* Sections */
section {
  padding: 2rem;
  background-color: #fff; /* Fond blanc pour détacher du fond global */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre pour un effet de profondeur */
  margin-bottom: 1rem; /* Espacement entre les sections */
}
/* Sections */
section:nth-child(even) {
   padding: 40px 20px;
}
section:nth-child(odd) {
   padding: 40px 20px;
}


/* Style de base pour la section contact */
#contact {
   background-color: #77B5FE; /* Couleur additionnelle pour un fond distinct */
   color: #fff; /* Contraste élevé pour la lisibilité */
   padding: 50px 20px; /* Espacement généreux */
   text-align: center; /* Centrage du contenu */
}

#contact form button {
   background-color: #582900; /* Couleur principale pour le bouton */
   color: #fff; /* Texte en blanc pour le contraste */
   padding: 12px 25px; /* Dimensionnement du bouton */
   border: none; /* Pas de bordure */
   border-radius: 5px; /* Coins arrondis */
   cursor: pointer; /* Indicateur de pointage */
   transition: background-color 0.3s; /* Transition en douceur pour le survol */
}

#contact form button:hover {
   background-color: #FD6C9E; /* Changement de couleur au survol */
   border-radius: 0px 50px 50px 0;
}

/* Améliorations Formulaires */
input[type="text"], input[type="email"], textarea {
  width: calc(100% - 22px); /* Ajustement pour le padding */
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #FD6C9E;
  border-radius: 5px;
  background-color: #fff;
}

input[type="submit"], button {
  cursor: pointer;
  font-weight: bold;
}

/* Footer */
footer {
  padding: 1rem;
  margin-bottom: -23px;
  position: relative;
  width: 100%;
  background-color: #582900; /* Couleur principale */
  color: #fff; /* Texte en blanc */
  text-align: center;
} footer h2 {
   color: #fff;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  header, nav ul {
     flex-direction: column;
  }
  .logo, nav ul {
     margin-bottom: 1rem;
  }
}