/* Style de base */
body, h1, h2, p, ul {
   margin: 0;
   padding: 0;
   list-style: none;
   font-family: Arial, sans-serif;
}

/* Header et Navigation */
header {
   background-color: #582900; /* Couleur principale pour le fond de l'en-tête */
   color: #fff; /* Pour un contraste optimal, le texte en blanc */
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}

nav ul {
   list-style: none;
   display: flex;
}

nav ul li {
   margin-left: 20px;
   padding: 11px 7px;
} nav ul li:hover {
   background-color: #77B5FE;
   border-radius: 50px;
   color: #fff;
}

nav ul li a {
   text-decoration: none;
   font-size: 1.5em;
   color: #FD6C9E; /* Couleur secondaire pour les liens */
} nav ul li a:hover {
   color: #fff;
}

/* Logo */
.logo {
   width: 150px;
   height: auto;
   display: block;
   margin-right: auto;
   transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo:hover {
   opacity: 0.8;
   transform: scale(1.05);
   box-shadow: #FD6C9E 0px 3px 20px;
}

/* Banner */
.banner {
   color: #000000;
   text-align: center;
   padding: 60px 20px;
   text-transform: uppercase;
}

/* Sections */
section:nth-child(even) {
   padding: 40px 20px;
}
section:nth-child(odd) {
   padding: 40px 20px;
}

/* Style de base pour la section contact */
#contact {
   background-color: #77B5FE; /* Couleur additionnelle pour un fond distinct */
   color: #fff; /* Contraste élevé pour la lisibilité */
   padding: 50px 20px; /* Espacement généreux */
   text-align: center; /* Centrage du contenu */
}

#contact h2 {
   margin-bottom: 30px; /* Espacement sous le titre */
   color: white; /* Utilisation de la couleur secondaire pour le titre */
}

/* Styles pour le formulaire */
#contact form {
   max-width: 500px; /* Largeur maximale pour une meilleure apparence sur grands écrans */
   margin: 0 auto; /* Centrage du formulaire */
}

#contact form input, #contact form textarea {
   width: 100%; /* Utilisation de toute la largeur disponible */
   padding: 10px; /* Espacement intérieur pour une saisie confortable */
   margin-bottom: 20px; /* Espacement entre les champs */
   border: 1px solid #FD6C9E; /* Bordure de couleur secondaire */
   border-radius: 5px; /* Coins légèrement arrondis */
   background-color: #fff; /* Fond blanc pour les champs */
   color: #582900; /* Couleur principale pour le texte */
}

#contact form input:focus, #contact form textarea:focus {
   border-color: #77B5FE; /* Couleur additionnelle pour le focus */
   outline: none; /* Suppression de l'outline par défaut pour une apparence personnalisée */
}

#contact form button {
   background-color: #582900; /* Couleur principale pour le bouton */
   color: #fff; /* Texte en blanc pour le contraste */
   padding: 12px 25px; /* Dimensionnement du bouton */
   border: none; /* Pas de bordure */
   border-radius: 5px; /* Coins arrondis */
   cursor: pointer; /* Indicateur de pointage */
   transition: background-color 0.3s; /* Transition en douceur pour le survol */
}

#contact form button:hover {
   background-color: #FD6C9E; /* Changement de couleur au survol */
}

/* Boutons et Appels à l'action */
button, .btn {
   background-color: #FD6C9E; /* Couleur secondaire */
   color: #fff; /* Texte en blanc */
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px; /* Coins arrondis */
   transition: background-color 0.3s ease;
}

button:hover, .btn:hover {
   background-color: #77B5FE; /* Couleur additionnelle au survol */
}

/* Footer */
footer {
   background-color: #582900; /* Couleur principale */
   color: #fff; /* Texte en blanc */
   text-align: center;
   padding: 20px;
   margin-bottom: -20px;
}
